@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Butterfly+Kids&family=Diphylleia&family=Dongle&family=Hi+Melody&family=Lilita+One&family=New+Rocker&family=Noto+Sans+KR:wght@100..900&family=Playwrite+AU+SA:wght@100..400&family=Sue+Ellen+Francisco&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

body{
    font-family: "Lilita One", "Bagel Fat One";
    font-size: 16px;
}
.dodum{
	font-family: "Lilita One", "Bagel Fat One";
}
.nsans{
	font-family: "Lilita One","Bagel Fat One";
}
a, a:link{
	text-decoration:none;
	color:lightpink;
}

a:hover{
	color:pink;
}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}

.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}
.pb-50{padding-bottom:50px;}

.text-center{
    text-align:center;
}
header{
	padding-top:10px;
}
.header{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	font-size:40px;
	font-weight:700;
	font-family:"Bagel Fat One","Lilita One";
}
.border-top-1{
	border-top:1px solid pink;
}
.border-bottom-1{
	border-bottom:1px solid pink;
}
.border-right-1{
	border-right:1px solid pink;
}
.border-left-1{
	border-left:1px solid pink;
}
nav{
	background-color:rgba(0,0,0,0.03);
}
nav a{
	display:inline-block;
	padding:20px 7px;
}
nav a:hover{
	background-color: lightgray;
	color: salmon;
	
}
/*****signup****/
.signup-title{
	width:180px;
	border-bottom:3px double lightpink;
	margin-left:auto;
	margin-right:auto;
	
}
.formbox{
	margin:20px 10px;
	border:1px solid #eee;
	border-radius:10px;
	padding:20px;
	background:rgba(0,0,0,0.05);
}
.formbox div{
	margin-bottom:10px;
}
.formbox a{
	letter-spacing:-1px;
}
.userbox{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius:50%;
}
.userbox img{
	width:60px;
	height:60px;
	object-fit:cover;
}
/**** signup ***/
.signup-title{
  width:180px;
  border-bottom:3px double #ddd;
  margin:40px auto;
  font-weight:bold;
}
.member-title{
  width:250px;
  border-bottom:3px double #ddd;
  margin:40px auto;
  font-weight:bold;
}
.userimg{
	margin-top:10px;
	max-width:80%;
	text-align:center;
}
#loginform table{
	margin:30px auto;
}
